/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Body';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* プロフィール写真 */
div.profile-img {
    height: 300px;
    overflow: hidden;
}
div.profile-img img {
    max-width: 100%;
    max-height: 100%;
}

/* セクション */
.section {
    margin-bottom: 50px;
}

/* グレーの下線 */
.round-cap-bottom-gr:after {
    margin-top: 10px;
    background-color: #2c3e50; /* 線色 */
    border-radius: 2px; /* 縦幅の半分 */
    content: "";
    display: block;
    height: 5px; /* 縦幅 */
    width: 200px; /* 横幅 */
}

/* 白の下線 */
.round-cap-bottom-wh:after {
    margin-top: 10px;
    background-color: white; /* 線色 */
    border-radius: 2px; /* 縦幅の半分 */
    content: "";
    display: block;
    height: 5px; /* 縦幅 */
    width: 200px; /* 横幅 */
}

/* Workデザイン */
#work .work-item {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}
#work .work-item .work-link {
    position: relative;
    display: block;
    margin: 0 auto;
}
#work .work-item .work-link .work-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(44, 62, 80, 0.5);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}
#work .work-item .work-link .work-hover .work-hover-content {
    font-size: 1.25rem;
    color: white;
}
#work .work-item .work-link:hover .work-hover {
    opacity: 1;
}
#work .work-item .work-caption {
    padding: 1.5rem;
    text-align: center;
}
#work .work-item .work-caption .work-caption-heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}
#work .work-item .work-caption .work-caption-subheading {
    font-style: italic;
}
.work-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}
.work-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.work-modal .modal-content .modal-body {
    position: relative;
    flex: 1 1 auto;
  }
.work-modal .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
}
.work-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.work-modal .modal-content p {
    margin-bottom: 2rem;
}
.work-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
    align-items: flex-start;
}
.work-modal .modal-content img {
    margin-bottom: 2rem;
}
.work-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
}
.work-modal .close-modal:hover {
    opacity: 0.3;
}

/* Skills */
#skill .skill-item {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}
#skill .skill-item .skill-caption {
    padding: 1.5rem;
    font-size: 1.5rem;
}
#skill .skill-item .usage-caption-heading {
    font-size: 1.0rem;
    margin-bottom: 0;
}
#skill .skill-item .skill-caption-heading {
    font-size: 1.5rem;
    margin-bottom: 0;
}
#skill .skill-item .skill-caption .skill-caption-subheading {
    font-style: italic;
}

/* 評価星 */
.star-rating {
    position: relative;
    width: 4em;
    height: 1em;
    font-size: 2rem;
}
.star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
}
.star-rating-back {
    color: #ccc;
}